@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  color: white;
  font-family: 'Space Mono', monospace;
  background: black;
}

p {
  text-align: center;
  padding: 75px 25px 25px 25px;
  font-size: 25px;
}

h1 {
font-family: 'VT323', monospace;
text-align: center;
font-size: 50px;
color: yellow;
text-shadow: 2px 2px rgba(0, 0, 0, .25);
}

img {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -4rem !important;
}

#changePassword , #sign-out , #new-game{
  display: flex;
  border: 1px dashed blue;
  padding: 25px 25px 25px 25px;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  margin: auto;
}

#signUp {
  display: flex;
  border: 1px dashed blue;
  padding: 35px 35px 35px 35px;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  margin: 50px;
  text-align: center;
  margin-top: -5rem !important;
}

#signIn {
  display: flex;
  border: 1px dashed blue;
  padding: 53px 80px 53px 80px;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  margin: 50px;
  text-align: center;
  margin-top: -5rem !important;
}

#start-over {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: float-right;
}

.container {
  height: 100vh;
}

.board {
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 15vh;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  &:hover {
    background-color: red;
  user-select: none;
  }
}

.box:nth-child(3n) {
  border-right: 0;
}

.box:nth-last-child(-n+3) {
  border-bottom: 0;
}

.btn-group {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px dashed blue;
  padding: 10px 10px 10px 10px;
  margin: 50px;
  margin-top: -45rem !important;
  margin-bottom: -45rem !important;
}

.btn {
  background-color: yellow;
  color: #8B0000;
}

#new-game , #changePassword {
  margin-top: -35rem !important;
  margin: auto;
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

#game {
  margin-top: 20rem !important;
  margin-bottom: 10rem !important;
  font-size: 50px;
  background-color: #c04df9;
  margin-left: 15rem !important;
  margin-right: 15rem !important;
  margin-bottom: -2rem !important;
}

#start-over , #count-games {
  margin: auto;
  margin-top: 5rem !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#scorecard {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px dashed blue;
  padding: 10px 10px 10px 10px;
  margin: 50px;
  margin-top: -65rem !important;
  margin-bottom: -15rem !important;
  margin-right: -15rem !important;
  margin-left: -15rem !important;
}
