@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  color: white;
  font-family: 'Space Mono', monospace;
  background: black;
}

p {
  text-align: center;
  padding: 25px 25px 25px 25px;
}

h1 {
font-family: 'VT323', monospace;
text-align: center;
font-size: 50px;
color: yellow;
}

#changePassword , #sign-out , #new-game{
  display: flex;
  border: 1px dashed blue;
  padding: 25px 25px 25px 25px;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  margin: 50px;
}

#signUp , #signIn {
  display: flex;
  border: 1px dashed blue;
  padding: 25px 25px 25px 25px;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  margin: 50px;
  text-align: center;
}

.container {
  height: 100vh;
}

.board {
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
  background: url('public/cat.jpg') no-repeat center center;
  background-size: cover;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  min-height: calc(100% / 3);
  background-color: white;
  color: white;
  font-size: 15vh;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  &:hover {
    background-color: blue;
  user-select: none;
  }
}

.box:nth-child(3n) {
  border-right: 0;
}

.box:nth-last-child(-n+3) {
  border-bottom: 0;
}
